div{
    background-color: #455d7a;
    color: white;
    height: 80px;
    border-radius: 25px;
    width: 40vw;
    text-align: center;
    margin-left: 435px;
    margin-bottom:30px;
}
h1{
    padding-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    font-size: 17px;
    border-collapse: collapse;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}
table tr:nth-child(4){
    text-align: center;
}
td input, button{
    width: 30vw;
    height: 6vh;
    border-radius: 10px;
    border: none;
    border: 1px solid #969595;
    margin: 10px;
    padding-left: 10px;
    font-size: 17px;
    outline: none;
    background-color: #e3e3e3;
}
button{
    width: 15vw;
    cursor: pointer;
    font-size: 17px;
    margin-top:20px;
    background-color: #455d7a;
    color:white;
}

