div{
    text-align: center;
}
.heading{
    background-color: #455d7a;
    color: white;
    height: 80px;
    border-radius: 25px;
    width: 90vw;
    text-align: center;
    margin-left: 70px;

}
h1{
    padding-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


td, th{
    border: 1px solid #969595;
    padding: 10px;
    height: 4vh;
}
table{
    font-size: 17px;
    width: 90vw;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
td{
    background-color: #e3e3e3;
}
th{
    background-color: #455d7a;
    color: white;
}
.btn{
    margin-top: 100px;
    width: 20vw;
    height: 7vh;
    background-color: #e3e3e3;
    border:none;
    border: 1px solid #969595;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}
td:nth-child(4), td:nth-child(5){
    padding:10px 0 10px 0;
}
.update, .delete{
    width: 10vw;
    height: 5vh;
    font-size: 17px;
    background-color: #455d7a;
    border: none;
    cursor: pointer;
    color:white;
    padding:0;
    border-radius: 10px;
}

#update, #delete{
    text-decoration:none;
}

.update:hover, .delete:hover{
    background-color: #38455f;
}